html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
    
* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
}

/* general styles */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Xanh Mono', monospace;
    line-height: 1.3;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h1, h2 {
    font-family: Prata, serif;
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
}

/* navbar styles */

.navbar-container {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
}

nav a {
    padding: 2% 5%;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}

/* intro section styles */
.intro p {
    width: 85%;
    margin: auto;
}

/* big image styles */
.big-img {
    height: 50vh;
    margin: 2% 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Bontecou_Lake_Milky_Way_panorama.jpg/2560px-Bontecou_Lake_Milky_Way_panorama.jpg");
    background-position: center;
    background-size: cover;
}